.ng-slideshow {
  background: #000;
  height: 320px;
  width: 80%;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;

  .mask {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.6) 100%);
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    li {
      padding: 0;
      margin: 0;
      list-style-type: none;
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;

      &.active {
        left: 0;
      }

      &.left {
        left: -100%;
      }

      &.right {
        left: 100%;
      }

      &.active.slide-in {
        left: 0;
        transition: left .5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
      }

      &.slide-out-left {
        left: -100%;
        transition: left .5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
      }

      &.slide-out-right {
        left: 100%;
        transition: left .5s cubic-bezier(0.420, 0.000, 0.580, 1.000);
      }
    }

    li span {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;

      h3 {
        opacity: 0.8;
        margin: 10px;
        color: #fff;
        font-weight: normal;
      }
    }

    a {
      display: block;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      position: absolute;
      z-index: 9;
      text-decoration: none;
      color: #FFF;
      font-size: 100pt;
      text-align: center;
      line-height: 380px;
      text-shadow: 0 0 15px rgb(119, 119, 119);
      padding: 0 10px;
      opacity: 0.2;
      transition: opacity .2s linear;
      height: 100%;
      width: 30px;

      &:hover {
        opacity: 0.5;
      }

      &.next {
        right: 0;
        background: url('/assets/next.svg') no-repeat center/100%;
      }

      &.prev {
        left: 0;
        background: url('/assets/back.svg') no-repeat center/100%;
      }
    }
  }
}
