<section class="ng-slideshow" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
  <div class="mask">
    <ul>
      <li *ngFor="let image of images; let i = index" [class.active]="i === 0" (transitionend)="onActiveTransitionEnd($event)">
        <a href="#" [style.background-image]="getSafeUrl(image.url)"></a>
        <div class="gradient" *ngIf="image.title"></div>
        <span *ngIf="image.title"><h3>{{image.title}}</h3></span>
      </li>
    </ul>
    <nav>
      <a href="#" class="prev" (click)="showPrevious($event)" *ngIf="index.index > 0"></a>
      <a href="#" class="next" (click)="showNext($event)" *ngIf="index.index < images.count() - 1"></a>
    </nav>
  </div>
</section>
